# OS specific files
.DS_Store
Thumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Node (if added later)
node_modules/
npm-debug.log
yarn-error.log

# Chrome Extension specific
*.pem
*.crx
